<!DOCTYPE html>
<html>
  <head>
    <title>ReactSpark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Roboto Font from Material-UI -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap' %>
    <!-- Font Icons from Material-UI -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta
        name="viewport"
        content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
